/*.suo
/*.user
Thumbs.db
/*.docstates
/*.shfbproj_*
/*.dotCover
/_ReSharper*
PdfiumViewer.sln.ide/storage.ide
PdfiumViewer.sln.ide/edb.log
PdfiumViewer.sln.ide/edb.chk
PdfiumViewer.sln.ide/edbres00001.jrs
PdfiumViewer.sln.ide/edbres00002.jrs
PdfiumViewer.sln.ide/edbtmp.log
